html[data-theme="light"] {
    --pst-color-primary: #F73F52;
    --pst-color-secondary: #F79AA4;
    --pst-color-warning: #F79AA4;
    --pst-color-on-background: #F7DFE1;
    --pst-color-on-background: #F7C6CB;
    --pst-color-text-muted: #646464;
}