html[data-theme="light"] {
    --pst-color-primary: #000000;
    --pst-color-secondary: #1900ff;
    --pst-color-warning: #1900ff;
    --pst-color-on-background: #ffffff;
    --pst-color-text-muted: #444444;
    background: rgb(255, 154, 186);
}