html[data-theme="light"] {
    --pst-color-primary: #FFEC00;
    --pst-color-secondary: #00BFFF;
    --pst-color-warning: #FFCC00;
    --pst-color-on-background: #00FF00;
    --pst-color-text-muted: #009F00;
}